<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
        <div class="profile">
            <div>
                <img src="../../../assets/icons/icon-128x128.png" width="100" height="90">
            </div>
            <div>
                <h3>cristian macha serva</h3>
            </div>
        </div>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/backoffice/cursos']" routerLinkActive="active">
                <mat-icon>book</mat-icon>
                <span>Cursos</span>
            </a>
        </mat-nav-list>

    </mat-drawer>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="toolbar-spacer"></span>
        <img src="../../../assets/icons/icon-72x72.png" width="40" height="40" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>
                    Perfil
                </span>
            </button>
            <button mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>
                    Cerrar sesion
                </span>
            </button>
        </mat-menu>
    </mat-toolbar>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>